@{
    ViewBag.Title = "About SecureChat";
}
<div class="jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">About SecureChat</h1>
        <h2>Dual layer encryption</h2>
        <p>Secure chat uses a dual layer of encryption making it harder for anyone trying to access your conversations extremely difficult</p>
        <h2>Our Promise</h2>
        <p>In a world where information is becoming one of the most valuable resoureces, large organisations will stop at nothing to gather every last bit of your personal data.</p>

        <p>These organisations monitor you on a daily basis by keeping track of your movements, habits and sometimes even your discussions.</p>

        <p>SecureChat aims to stop this privacy invasion by giving you free, anonymous access to an extremely secure online chat platform that you can use at your disposal, whenever, wherever. SecureChat promises that we will NEVER log any conversation or require you to use you personal information to chat on our platform.</p>

    </div>
</div>