
@{
    ViewBag.Title = "HowItWorks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>How It Works</h2>
<hr />
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>What you need to know</h4>
        <ul class="list-group">
            <li class="list-group-item">SecureChat creates a temporary connection between you and the people that you are chatting with, once you close the browser, the connection is lost along with the messages sent/received <b>(be sure to keep any important information from your chat before closing the browser)</b>. Once a chat is closed, you will
            either have to create a new chat or re-join the chat using the chat ID. To learn how to create or join a chat, follow the step by step guides below.
            </li>
            <li class="list-group-item">
                Keep your chat ID between you and those that you want to chat with, otherwise potentially unwanted users can join your chat. But dont worry, <b> when somebody joins your chat, they cannot see any previous messages and you will be notified of their presence.</b>
            </li>
        </ul>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4>Create a chat</h4>
        <ul class="list-group">
            <li class="list-group-item">Navigate to the chat page (the blue button at the top right).</li>
            <li class="list-group-item">Enter a chat alias in the box provided (Above the chat window).</li>
            <li class="list-group-item">Click on "Click here to create chat" button and wait fro your chat group to be created.</li>
            <li class="list-group-item">Once your chat group has been created successfully, you will receive a group ID.</li>
            <li class="list-group-item">Share the group ID with those whom you want to chat with.</li>
            <li class="list-group-item">Happy Chatting!</li>
        </ul>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4>Join a chat</h4>
        <ul class="list-group">
            <li class="list-group-item">Navigate to the chat page (the blue button at the top right).</li>
            <li class="list-group-item">Enter a chat alias in the box provided (Above the chat window).</li>
            <li class="list-group-item">Insert your chat ID into the box provided under "Join Chat Group" and click "Join chat".</li>
            <li class="list-group-item">Once connected, a notification will pop up in the chat window notifying you and others in the group that you have joined.</li>
            <li class="list-group-item">You may then begin to exchange messages with others in the group.</li>
            <li class="list-group-item">Happy Chatting!</li>
        </ul>
    </div>
</div>

